.auth-page {
  min-height: 100vh;
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.common-btn {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.common-btn:hover {
  background: #1d4ed8;
}

.error-text {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}